<!-- Navbar -->
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Map Chat</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="home.logout()">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<!-- Chat -->
<div class="row">

    <form novalidate ng-submit="home.sendMessage()">
        <div id="chat-room">
            <div ng-repeat="message in home.messagesList">
                <p><span>{{message.author}}: </span>{{message.text}}</p>
            </div>
        </div>
        <div id="chat-comment">
            <input id="chat-comment-input" type="text" placeholder="Just say something..." ng-model="home.messageText">
            <button type="submit">Send</button>
        </div>
    </form>

</div>

<!-- Map -->
<div class="row">
    <div class="angular-google-map-container">
        <ui-gmap-google-map center='home.map.center' zoom='home.map.zoom'>
            <ui-gmap-markers class="gmap-marker" models="home.usersLocationsList" coords="'self'" icon="'icon'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>