<!-- Navbar -->
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <!--<img alt="Brand" src="http://www.cypruscompany.net/images/google-maps.png">-->
                    Map Chat
                </a>
            </div>
        </div>
    </nav>
</div>

<!-- Chat -->
<div class="row">

    <form novalidate ng-submit="home.sendMessage()">
        <div id="chat-room">
            <div ng-repeat="message in home.messagesList">
                <p><!--<span>{{message.user.name}}: </span>-->{{message.text}}</p>
            </div>
        </div>
        <div id="chat-comment">
            <input id="chat-comment-input" type="text" placeholder="Just say something..." ng-model="home.messageText">
            <button type="submit">Send</button>
        </div>
    </form>

</div>

<!-- Map -->
<div class="row">
    <div class="angular-google-map-container">
        <ui-gmap-google-map center='home.map.center' zoom='home.map.zoom'>
            <ui-gmap-markers class="gmap-marker" models="home.usersLocationsList" coords="'self'" icon="'icon'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>